.wrapper{
  background-color: #5e6476;
  padding: 40px 0px;
}
.box{
  width: 90%;
  padding: 30px;
  color: #fff;
  background: #333b50;
  margin: auto;
  max-width: 900px;
  box-sizing: border-box;
}
.box h3{
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}
.box p{
  text-align: center;
  max-width: 500px;
  margin: auto;
  line-height: 1.5em;
}

/* Control de componentes internos */
.container_sections{
  margin-top: 40px;
  display: flex;
}
.container_sections section {
  width: 50%;
}

@media screen and (max-width: 900px){
  .container_sections section:first-of-type{
    width: 45%;
  }.container_sections section:last-of-type{
    width: 55%;
  }
  .box{
    width: 100%;
    padding: 30px 20px;
  }
}
@media screen and (max-width:600px){
  .box h3{
    font-size: 1.1em;
  }.box p{
    font-size: .95em;
  }
  .container_sections{
    flex-direction: column-reverse;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
  }
  .container_sections section:first-of-type{
    width: 100%;
  }.container_sections section:last-of-type{
    width: 100%;
  }
}