.box{
  padding: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #3b4153;
}
.picture_container{
  width: 100%;
  box-sizing: border-box;
}
.text_container{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  text-align: center;
}
.picture{
  margin: 10px auto;
  display: block;
  max-height: 550px;
}
@media screen and (max-width: 500px){
  .box{
    padding: 10px;
  }
}