.box_content{
  background: #3b4153;
  padding: 30px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

.picture_content img{
  margin: auto;
  display: block;
  max-height: 350px;
}

.box_content p{
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width:500px){
  .box_content{
    padding: 5px;
  }
}