.body, .body_reverse{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
  color: #cdd9ef;
}

/* single */
.body section:first-of-type{
  width: 50%;
}
.body section:last-of-type{
  width: 40%;
  margin-left: 20px;
}

/* reverse */
.body_reverse section:first-of-type{
  width: 40%;
  margin-left: 20px;
}
.body_reverse section:last-of-type{
  width: 50%;
  margin-left: 20px;
}
.text p {
  margin-bottom: 20px;
}
.body h2, .body_reverse h2{
  font-size: 1.3em;
  margin-bottom: 15px;
}
.body p, .body_reverse p{
  line-height: 1.5em;
  font-size: 1.1em;
}
@media screen and (max-width: 800px){
  .body p, .body_reverse p{
    font-size: 1em;
  }
}

/* Cambio a una sola columna */
@media screen and (max-width: 600px){
  .body{
    flex-direction: column-reverse;
  }
  .body_reverse{
    flex-direction: column;
  }

  .text{
    margin-bottom: 20px;
  }
  /* picture */
  .body section:first-of-type{
    width: 90%;
  }

  /* texto */
  .body section:last-of-type{
    width: 70%;
    margin-left: 0px;
  }
  /* reverso */
  /* text */
  .body_reverse section:first-of-type{
    width: 70%;
    margin-left: 0px;
  }

  /* picture */
  .body_reverse section:last-of-type{
    width: 90%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px){
  .body{
    flex-direction: column-reverse;
  }
  .text{
    margin-bottom: 20px;
  }
  /* picture */
  .body section:first-of-type{
    width: 95%;
  }
  /* texto */
  .body section:last-of-type{
    width: 90%;
  }
  
  /* revsre */
  /* text */
  .body_reverse section:first-of-type{
    width: 90%;
  }
  /* picture */
  .body_reverse section:last-of-type{
    width: 95%;
  }
}