
._2oW_tlJ4J_y2yVbO_4Wv_7{
	color: #fff;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	display: flex;
	align-items: center;
	height: 60px;
}
.sANPY7-0bd3l-1Sx5m3vh{
	height: 60px;
}
._2LX3vK9b0F8fLWjb6Ugfev{
	box-shadow: 0 0px 20px 0 rgba(0,0,0,.1);
	background-color: #71788a;
	position: fixed;
	width: 100%;
	z-index: 10;
}
._2dvVTbIB11rxnOxBgZpHno{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
._3mjoK0DBdfX1lBFYwFevxK{
	display: block;
	color: #bec7d5;
	text-decoration: none;
	font-size: .9em;
	transition: all 200ms;
	padding: 5px 18px;
	margin: 0px 10px;
	border-radius: 5px;
}
._3mjoK0DBdfX1lBFYwFevxK:hover{
	transform: scale(1.1);
}
._2WNs3BjMvL2cveoroEUCRX{
	border: 1px solid;
}
@media screen and (max-width:600px){
	._3mjoK0DBdfX1lBFYwFevxK{
		padding: 4px 13px;
		margin: 0px 5px;
	}
}
@media screen and (max-width: 499px){
	._2dvVTbIB11rxnOxBgZpHno{
		display: none;
	}
}
._11EwfpcEa6v5jtUeF89-am{
	width: 30px;
	display: none;
}
@media screen and (max-width:499px){
	._11EwfpcEa6v5jtUeF89-am{
		display: block;
	}
}
.YNcdy4l2TgLqCFouh_QXy{
	max-width: 1080px;
	margin: auto;
	padding: 10px;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: Segoe UI,'Roboto',arial,sans-serif
}

.ZBKoaNXeh8dAIh4GrfZG4{
	background-color: #71788a;
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-position-x: right;
}
._1tOrQVtB6qr8B3E2uCTArr{
	display: flex;
	justify-content: center;
	height: 500px;
	align-items: center;
	flex-direction: column;
	color: white;
}
._1tOrQVtB6qr8B3E2uCTArr h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 4em;
	line-height: 1.5em;
	font-weight: bold;
}
._1tOrQVtB6qr8B3E2uCTArr h2{
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
}
@media screen and (max-width: 600px){
	._1tOrQVtB6qr8B3E2uCTArr h1{
		font-size: 3em;
	}
	._1tOrQVtB6qr8B3E2uCTArr h2{
		font-size: 1.2em;
	}
}@media screen and (max-width: 450px){
	.ZBKoaNXeh8dAIh4GrfZG4{
		background-size: cover;
	}
}
._2gbwTDMWBP3RGBxlqlGKnG{
  background: #3b4153cc;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
}
._1O-McR0UzmqjzWUfZwQoJZ{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 500px;
  width: 100%;
  box-sizing: border-box;
}
._1O-McR0UzmqjzWUfZwQoJZ h2{
  font-weight: bold;
  max-width: 700px;
  font-size: 2em;
  margin-bottom: 20px;
}
._1O-McR0UzmqjzWUfZwQoJZ p{
  max-width: 700px;
  line-height: 1.3em;
  font-size: 1.1em;
  margin: 30px 0px;
}
@media screen and (max-width: 450px){
  ._1O-McR0UzmqjzWUfZwQoJZ{
    text-align: center;
  }
  ._1O-McR0UzmqjzWUfZwQoJZ h2{
    font-size: 1.5em;
  }
  ._1O-McR0UzmqjzWUfZwQoJZ p {
    font-size: 1em;
  }
}
.GKr5f6EDIJY5tyTOBFYgu{
  background-color: #5e6476;
}
._27VsPAFh5Bk2feWg55y3V9{
  margin: 80px auto;
  position: relative;
  display: flex;
}
.GsGD54qYg_tKgugxFwkLV{
  width: 70%;
  height: 380px;
  background-color: #3642678c;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
._2AYjY83BMp4RBr16wE-H_Y{
  position: absolute;
  display: block;
  width: 40%;
  height: 200px;
  bottom: calc(50% - 100px);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  background: #ffffffd1;
}
._1x2dMNarA36a7Jn5bCA-wc ._2AYjY83BMp4RBr16wE-H_Y{
  right: 0px;
}
._3BRthdzv-FBjAJYej-FmFi ._2AYjY83BMp4RBr16wE-H_Y{
  left: 0px;
}
._1x2dMNarA36a7Jn5bCA-wc{
  justify-content: flex-start;
}
._3BRthdzv-FBjAJYej-FmFi{
  justify-content: flex-end;
}

/* textos */
._2AYjY83BMp4RBr16wE-H_Y h3{
  font-size: 1.3em;
  text-align: center;
  margin: 15px auto;
}

._2AYjY83BMp4RBr16wE-H_Y p{
  line-height: 1.5em;
  width: 80%;
  margin: auto;
}

/* Link */
._17n7boanx0tXFqYMIFT2qI{
  display: block;
  color:#00d646;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}


/* responsive design */
@media screen and (max-width: 900px){
  .GsGD54qYg_tKgugxFwkLV{
   height: 300px;
  }
  ._2AYjY83BMp4RBr16wE-H_Y{
    width: 55%;
  }
}

@media screen and (max-width: 700px){
  .GsGD54qYg_tKgugxFwkLV{
   height: 250px;
  }
  ._2AYjY83BMp4RBr16wE-H_Y p{
    width: 100%;
  }
}

/* Transformacion completa */
@media screen and (max-width:600px){
  ._27VsPAFh5Bk2feWg55y3V9{
    margin: 120px auto;
  }
  .GsGD54qYg_tKgugxFwkLV{
    width: 100%;
    height: 320px;
  }
  ._2AYjY83BMp4RBr16wE-H_Y{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -70px;
    margin: auto;
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width:500px){
  .GsGD54qYg_tKgugxFwkLV{
    height: 250px;
  }
}

@media screen and (max-width:400px){
  .GsGD54qYg_tKgugxFwkLV{
    height: 200px;
  }
  ._2AYjY83BMp4RBr16wE-H_Y{
    font-size: .85em;
  }
  ._2AYjY83BMp4RBr16wE-H_Y h3{
    margin: 10px;
  }
  ._2AYjY83BMp4RBr16wE-H_Y p{
    line-height: 1.3em;
  }
}
._3y5R2jtxw_DWvmeNVguTco{
  background-color: #5e6476;
}
._16LEOMMv_WcjTRfjG1b9l8{
  width: 90%;
  padding: 30px;
  color: #fff;
  background: #333b50;
  margin: auto;
  max-width: 900px;
  box-sizing: border-box;
}
._16LEOMMv_WcjTRfjG1b9l8 h3{
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}
._16LEOMMv_WcjTRfjG1b9l8 p{
  text-align: center;
  max-width: 500px;
  margin: auto;
  line-height: 1.5em;
}

/* Control de componentes internos */
._1_1DPFMpTnRZ-akmv_tvLs{
  margin-top: 40px;
  display: flex;
}
._1_1DPFMpTnRZ-akmv_tvLs section {
  width: 50%;
}

@media screen and (max-width: 900px){
  ._1_1DPFMpTnRZ-akmv_tvLs section:first-of-type{
    width: 45%;
  }._1_1DPFMpTnRZ-akmv_tvLs section:last-of-type{
    width: 55%;
  }
  ._16LEOMMv_WcjTRfjG1b9l8{
    width: 100%;
    padding: 30px 20px;
  }
}
@media screen and (max-width:600px){
  ._16LEOMMv_WcjTRfjG1b9l8 h3{
    font-size: 1.1em;
  }._16LEOMMv_WcjTRfjG1b9l8 p{
    font-size: .95em;
  }
  ._1_1DPFMpTnRZ-akmv_tvLs{
    flex-direction: column-reverse;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
  }
  ._1_1DPFMpTnRZ-akmv_tvLs section:first-of-type{
    width: 100%;
  }._1_1DPFMpTnRZ-akmv_tvLs section:last-of-type{
    width: 100%;
  }
}
._185Cn7eyQkEORLxzn88Ae-{
  width: 75%;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 327px;
}
._3k_6_FoN4utnmkrjKSQ3e8{
  width: 100%;
}
._3k_6_FoN4utnmkrjKSQ3e8 input{
  width: 100%;
  display: block;
  padding: 5px;
  box-sizing: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #000;
}
._3k_6_FoN4utnmkrjKSQ3e8 textarea{
  border: 1px solid #000;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  height: 250px;
}
._3k_6_FoN4utnmkrjKSQ3e8 button  {
  background-color: #00d646;
  margin-top: 8px;
  width: 165px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
._1wkRb7nC6TmKd4R-n3os_b{
  width: 90%;
  margin: auto;
  line-height: 1.5em;
  color: #00d646;
  text-align: center;
}
@media screen and (max-width: 900px){
  ._185Cn7eyQkEORLxzn88Ae-{
    width: 100%;
  }
}
@media screen and (max-width: 500px){
  ._3k_6_FoN4utnmkrjKSQ3e8 textarea{
    height: 150px;
  }
  ._185Cn7eyQkEORLxzn88Ae-{
    min-height: 227px;
  }
}


@keyframes _2ul7mZfqtMsu5PToisO1Yl {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
._2ul7mZfqtMsu5PToisO1Yl div { box-sizing: border-box!important }
._2ul7mZfqtMsu5PToisO1Yl > div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #00d646 transparent #00d646 transparent;
  animation: _2ul7mZfqtMsu5PToisO1Yl 1s linear infinite;
}
._2ul7mZfqtMsu5PToisO1Yl > div:nth-child(2) { border-color: transparent }
._2ul7mZfqtMsu5PToisO1Yl > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
._2ul7mZfqtMsu5PToisO1Yl > div:nth-child(2) div:before, ._2ul7mZfqtMsu5PToisO1Yl > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 24px;
  background: #00d646;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #00d646;
}
._2ul7mZfqtMsu5PToisO1Yl > div:nth-child(2) div:after { 
  left: -8px;
  top: 24px;
  box-shadow: 64px 0 0 0 #00d646;
}
._2rGVEyqGxD_0KB7cGo7mDo {
  width: 98px;
  height: 98px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
._2ul7mZfqtMsu5PToisO1Yl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.98);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
._2ul7mZfqtMsu5PToisO1Yl div { box-sizing: content-box; }

.fAt97xS3dqeLPQX28wC-N{
  display: flex;
  justify-content: center;
  align-items: center;
}

._22LJ5uvI20HMVTJI8RMgAM a, ._22LJ5uvI20HMVTJI8RMgAM div{
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin: 20px 0px;
  font-size: 1.2em;
}
._22LJ5uvI20HMVTJI8RMgAM a:hover {
  color: #00d646;
}
._6tCv2Nl5gt5G4bGcEiim {
  width: 30px;
  margin-right: 15px;
}
@media screen and (max-width: 900px){
  ._22LJ5uvI20HMVTJI8RMgAM a, ._22LJ5uvI20HMVTJI8RMgAM div{
    font-size: .9em;
  }
  ._6tCv2Nl5gt5G4bGcEiim{
    width: 25px;
    margin-right: 7px;
  }
}
