
._2oW_tlJ4J_y2yVbO_4Wv_7{
	color: #fff;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	display: flex;
	align-items: center;
	height: 60px;
}
.sANPY7-0bd3l-1Sx5m3vh{
	height: 60px;
}
._2LX3vK9b0F8fLWjb6Ugfev{
	box-shadow: 0 0px 20px 0 rgba(0,0,0,.1);
	background-color: #71788a;
	position: fixed;
	width: 100%;
}
._2dvVTbIB11rxnOxBgZpHno{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
._3mjoK0DBdfX1lBFYwFevxK{
	display: block;
	color: #bec7d5;
	text-decoration: none;
	font-size: .9em;
	transition: all 200ms;
	padding: 5px 18px;
	margin: 0px 10px;
	border-radius: 5px;
}
._3mjoK0DBdfX1lBFYwFevxK:hover{
	transform: scale(1.1);
}
._2WNs3BjMvL2cveoroEUCRX{
	border: 1px solid;
}
@media screen and (max-width:600px){
	._3mjoK0DBdfX1lBFYwFevxK{
		padding: 4px 13px;
		margin: 0px 5px;
	}
}
@media screen and (max-width: 499px){
	._2dvVTbIB11rxnOxBgZpHno{
		display: none;
	}
}
._11EwfpcEa6v5jtUeF89-am{
	width: 30px;
	display: none;
}
@media screen and (max-width:499px){
	._11EwfpcEa6v5jtUeF89-am{
		display: block;
	}
}
.YNcdy4l2TgLqCFouh_QXy{
	max-width: 1080px;
	margin: auto;
	padding: 10px;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: 'Roboto', sans-serif;
}

.ZBKoaNXeh8dAIh4GrfZG4{
	background-color: #71788a;
}
._1tOrQVtB6qr8B3E2uCTArr{
	display: block;
	height: 450px;
}
