.wrapper{
	background-color: #71788a;
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-position-x: right;
}
.container{
	display: flex;
	min-height: 92vh;
	align-items: center;
	color: white;
}
.box_animate, .box_animate_another{
	width: 450px;
  background-color: #364267;
  padding: 20px;
  box-sizing: border-box;
	font-size: 2em;
	line-height: 1.3em;
	border-radius: 5px;
	transition: background-color .3s ease-out;
}
.box_animate_another{
	background-color: #fff;
	color: #000;
}
.hidden{
	display: none;
}
.section{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 450px){
	.wrapper{
		background-size: cover;
	}
}
@media screen and (max-width: 900px){
	.box_animate, .box_animate_another{
		font-size: 1.5em;
		width: 350px;
	}
}
@media screen and (max-width: 700px){
	.container{
		align-items: flex-end;
		min-height: 400px;
	}
	.box_animate, .box_animate_another{
		width: 90%;
		font-size: 1.3em;
		text-align: center;
		margin-bottom: 50px;
	}
	.section{
		width: 100%;
		align-items: flex-end;
	}
}