.menu_content{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu{
	display: block;
	color: #bec7d5;
	text-decoration: none;
	font-size: .9em;
	transition: all 200ms;
	padding: 5px 18px;
	margin: 0px 10px;
	border-radius: 5px;
}
.menu:hover{
	transform: scale(1.1);
}
.seleted{
	border: 1px solid;
}
@media screen and (max-width:600px){
	.menu{
		padding: 4px 13px;
		margin: 0px 5px;
	}
}
@media screen and (max-width: 499px){
	.menu_content{
		display: none;
	}
}