.wrapper{
  width: 33.3%;
  box-sizing: border-box;
  padding:20px;
}
.content{
  padding: 20px;
  background: #333b50;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
}
.body{

}
.body h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  border-bottom: 1px solid #00d646;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}
.body li {
  display: flex;
  align-content: center;
  padding: 8px 0px;
  align-items: center;
  color: #fff;
}

.body img{
  /* filter: brightness(0) invert(1); */
  width: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 900px){
  .wrapper{
    padding: 10px;
  }
  .content{
    padding: 10px;
  }
}
@media screen and (max-width: 800px){
  .wrapper{
    font-size: .9em;
  }
  .body img{
    width: 20px;
    margin-right: 8px;
  }
}
@media screen and (max-width: 600px){
  .wrapper{
    width: 50%;
  }
  .content{
    padding: 20px;
  }
}
@media screen and (max-width: 400px){
  .wrapper{
    width: 50%;
    padding: 5px;
  }
  .content{
    padding: 10px;
  }
}